.wrapper{
    background-image: url("../../../Assets/Images/work_demo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    color: var(--white);
    font-weight: 900;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    .banner{
        z-index: 2;
        padding: 0 55px;
        @media (max-width:768px) {
        padding: 0 10px;
        }
        .content{
            p{
                margin: 40px 0;
            }
            .content_btn{
                color: var(--white);
                font-size: 2rem;
                border-radius: 0.375rem;
                text-transform: capitalize;
                padding: 16px 30px;
                width: 200px;
                background: var(--yellow);
                cursor: pointer;
                @media (max-width:768px) {
                    font-size: 1.5rem;
                    width: 150px;
                }
            }
        }
    }
    .span{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: var(--background-blur);
        z-index: 1;      
    }
}